body {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 300px) {}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

#name {
    font-size: 16pt;
}

#flavortext {
    font-size: 12pt;
}

.button {
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
    padding: .8em 1em;
    background-color: rgba(255,206,31,0.8);
    border: 0;
    border-radius: .278rem;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #ffce1f;
}

.footer {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}